<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">Зміна Пароля</h1>
    <div class="registration__box">

        <form method="POST" name="newUser" class="newUser" th:object="${User}">

            <div class="form-group">
                <input type="text" minlength="4" maxlength="24" name="password" th:field="${user.password}" class="form-control" placeholder="Entry Password">
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>

        </form>

    </div>
</div>
</body>
</html>