<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">Підтвердіть пошту</h1>
    <div class="registration__box">
            <div class="email__box">
                <p class="email__text">Ми надіслали Вам повідомлення для підтвердження дійсності акаунта. Будь ласка, перевірте пошту.</p>
            </div>
            <div class="login">
                <a th:href="@{/users/login}" class="login">Вхід /</a>
                <a th:href="@{/users/register}" class="login"> Реєстрація</a>
            </div>

    </div>
</div>
</body>
</html>