<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">Вхід</h1>
    <div class="registration__box">

        <div class="text-center" style="color: red" th:if="${error != null}">
            [[${error}]]
        </div>

        <form method="POST" name="newUser" class="newUser" th:object="${User}">

            <div class="form-group">
                <input type="email" name="email" th:field="${users.personalData.email}" class="form-control" placeholder="Entry Email">
            </div>

            <div class="form-group">
                <input type="text" minlength="4" maxlength="24" name="password" th:field="${users.password}" class="form-control" placeholder="Entry Password">
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>

            <div class="login">
                <a th:href="@{/users/register}" class="login">Реєстрація /</a>
                <a th:href="@{/users/confirmEmail}" class="login"> Забули пароль</a>
            </div>

        </form>

    </div>
</div>
</body>
</html>