<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>User login</th>
        <th>User password(encoded)</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="post, index : ${posts}">
        <li>
            Post Title: <span th:text="${post.header}"></span><br>
            Post Content: <span th:text="${post.description}"></span><br>
            User Name: <span th:text="${userNames[__${index.index}__]}"></span>
        </li>
    </th:block>
    </tbody>

    <div class="login">
        <a th:href="@{/users/addPost}" class="register">Add Post</a>
    </div>

</table>
</body>
</html>