<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1 class="text-center">Реєстрація</h1>
            <div class="registration__box">

                <div class="text-center" style="color: red" th:if="${error != null}">
                    [[${error}]]
                </div>

                <form method="POST" name="newUser" class="newUser" th:object="${User}">

                    <div class="form-group">
                        <input required type="email" name="email" th:field="${users.personalData.email}" class="form-control" placeholder="Entry Email">
                    </div>

                    <div class="form-group">
                        <input required type="text" name="login" th:field="${users.login}" class="form-control" placeholder="Entry Login">
                    </div>

                    <div class="form-group">
                        <input required type="text" name="login" th:field="${users.personalData.firstName}" class="form-control" placeholder="Entry First Name">
                    </div>

                    <div class="form-group">
                        <input required type="text" name="login" th:field="${users.personalData.lastName}" class="form-control" placeholder="Entry Last Name">
                    </div>

                    <div class="form-group" id="dateOfBirth">
                        <input type="date" name="dateOfBirth" th:field="${users.personalData.dateOfBirth}" class="form-control">
                    </div>

                    <div class="form-group">
                        <select class="form-control-3" id="telephoneCode" th:field="${users.personalData.telephone.telephoneCode.code}">
                            <option class="form-control" name="telephoneCode"
                                    th:each="telephone_code: ${telephone_codes}"
                                    th:value="${telephone_code.code}"
                                    th:text="${telephone_code.code}"
                                    th:field="${users.personalData.telephone.telephoneCode.code}">
                            </option>
                        </select>
                        <input minlength="7" maxlength="12" type="tel" name="telephoneNumber" th:field="${users.personalData.telephone.telephoneNumber}" class="form-control-2" placeholder="Entry Phone Number">
                    </div>

                    <div class="form-group">
                        <input required type="text" minlength="4" maxlength="24" name="password" th:field="${users.password}" class="form-control" placeholder="Entry Password">
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                    
                    <div class="login">
                        <a th:href="@{/users/login}" class="login">Вхід</a>
                    </div>

                </form>

            </div>
</div>
</body>
</html>