<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home</title>
    <link th:href="@{/css/postAdd.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/bb00e45793.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container2">
    <header>
        <div class="txt">
            <h1 class="logo">ECHO</h1>
            <div class="information">
                <a th:href="@{/}" class="hdr header-head">
                    <p class="fa-solid fa-circle-info"></p>
                    <p class="hdr header-info"> Main</p>
                </a>
                <a th:href="@{/posts}" class="hdr header-head">
                    <p class="fa-solid fa-house"></p>
                    <p class="hdr header-info"> Posts</p>
                </a>
                <a th:href="@{/search}" class="hdr header-head">
                    <p class="fa-solid fa-magnifying-glass"></p>
                    <p class="hdr header-info"> Search</p>
                </a>
                <a th:href="@{/chat}" class="hdr header-head">
                    <p class="fa-regular fa-comment-dots"></p>
                    <p class="hdr header-info"> Messages</p>
                </a>
            </div>
            <div class="but" id="but">
                <a th:href="@{/users/userProfile}" th:text="${user.login}" class="author"></a>
            </div>
        </div>
    </header>
</div>

<div class="container">
    <div class="user_link">

        <p class="reported">Link to Reported User: <a class="login-link" th:href="@{'/profile/' + ${user.login}}" th:text="${user.login}"></a></p>
        <p class="reported" th:text="'What was reported: ' + ${entity}"></p>
        <p th:if="${user != null}">Reported User Info: </p>

        <div th:if="${user != null}" class="post-box">
            <p class="post-header" th:text="${user.login}"></p>
            <p class="post-header" th:text="${user.personalData.firstName + ' ' + user.personalData.lastName}"></p>
            <p class="post-description" th:text="${user.personalData.description}"></p>
        </div>

        <p th:if="${post != null}">Post: </p>

        <div th:if="${post != null}" class="post-box">
            <p class="post-header" th:text="${post.header}"></p>
            <p class="post-description" th:text="${post.description}"></p>
        </div>

        <p>Report Message:</p>
        <p class="report-message" th:text="${reportMessage.content}"></p>

        <form th:action="@{'/reportMessage' + ${reportMessageId} + '/' + ${entity} + '/' + ${entityId}}" method="POST">
            <p>Clear Description</p>
            <input type="checkbox" name="sol1" value="true" class="solutions-button">
            <p>Delete Post</p>
            <input type="checkbox" name="sol2" value="true" class="solutions-button">
            <p>Delete User</p>
            <input type="checkbox" name="sol3" value="true" class="solutions-button">
            <button type="submit">Complete report</button>
        </form>


    </div>
</div>

</body>
</html>
